*, *:before, *:after {
    box-sizing: border-box;
  }
body {
    margin: 0 auto;
}

/* #container {
    max-width: 940px;
    margin: 0 auto;
} */

#hero {
    height: 100%;
    background-color: #2e2e36;
}
.content-container {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}
#horizons-logo {
    text-align: center;
    padding-top: 70px;
}
h1 {
    text-align: center;
    font-family: Nunito;
    color: rgb(255, 255, 255);
    font-size: 82px;
    line-height: 85px;

}

@media (min-width: 900px) {
    #container1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.box1 {
    flex: 1;
    text-align: center;
}

#image-left {
    max-width: 500px;
    width: 100%;
}
.form-container {
    flex: 1;
}
h2 {
    font-size: 24px;
    font-family: roboto;
    color: rgb(255, 255, 255);
    line-height: 34px;
    text-align: center;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
    margin-bottom: 0;
}

#form-right {
    font-family: roboto;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

input[type=text], #industry {
    width: 100%;
    border-radius: 5px;
    padding: 7px 10px;
    margin: 2px 0 25px 0;
    box-shadow: inset 0px 2px 3px #dddddd;
    box-sizing: border-box;

}

input[type=submit] {
    width: 100%;
    border-radius: 5px;
    padding: 7px 10px;
    margin: 2px 0 25px 0;
    background-color: #00c099;
    box-sizing: border-box;
    border: none;
    font-family: nunito;
    font-size: 16px;
    color:rgb(255, 255, 255);
}

input[type=submit]:hover {
    background-color: rgb(7, 131, 84);
}

#feature {
    background-color: #f5f5f5;
    height: 100%;
}


.box2 {
    background-color: rgb(255, 255, 255);
    flex-basis: 30%;
    padding: 20px;
    margin: 100px 0px;
    padding: 20px;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-family: nunito;
    color: rgb(21, 47, 46);
}

p {
    font-family: roboto;
    font-size: 14px;
    line-height: 22px;
    color:rgb(21, 47, 46);
    font-weight: 300;
}

.icon {
    height: 80px;
}

#story {
    height: 100%;
}

@media (min-width: 900px) {
    #story {
        display: flex;
        align-items: center;
        justify-content:space-around;
        max-width: 940px;
        width: 100%;
        margin: 0 auto;
    } 
}

.box3 {
    flex-basis: 40%;
    padding: 100px 20px;
}



h4 {
    font-size: 36px;
    font-family: nunito;
    font-weight: 600;
    color: rgb(48, 48, 48);
    margin-bottom: 20px;
}

.box3 img {
    max-width: 450px;
    width: 100%;
    text-align: center;
}

#parters {
    height: 100%;
    background-color: #00c099;
}

h5 {
    font-size: 20px;
    font-family: nunito;
    color:rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
    padding: 80px 0px 30px 0px;
}



@media (min-width: 700px) {
    #parters-logos {
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 940px;
        width: 100%;
        margin: 0 auto;
    }
}

.box4 {
    flex-basis: 20px;
    margin-bottom: 80px;
}

#signup {
    text-align: center;
}

#testimonial {
    height: 100%;
    background-color: #eceff3;
    text-align: center;
}

.profile {
    margin-top: 80px;
}

.name {
    font-size: 11px;
    font-family: nunito;
    font-weight: 700;
    color: rgb(48, 48, 48);
}

.quote {
    font-size: 36px;
    font-family: roboto;
    font-weight: 300;
    font-style: italic;
    color: rgb(48, 48, 48);
    line-height: 50px;
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 60px;

}

.offer-title {
    text-align: center;
    padding: 0 40px;
}

.detail {
    margin-bottom: 30px;
    display: flex;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}

.detail-icon {

    text-align: right;
    margin-right: 20px;
}

.detail-icon-style {
    height: 40px;
}


.detail-title {
    margin-top: 10px;
}

.calltoaction {
    height: 100%;
    text-align: center;
    background-color: #2e2e36;
    padding: 0 40px;
}

.calltoaction-title {
    color: white;
    padding-top: 100px;
}

.calltoaction-detail {
    color: white;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
}

button{
    width: 200px;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 2px 0 125px 0;
    background-color: #00c099;
    box-sizing: border-box;
    border: none;
    font-family: nunito;
    font-size: 16px;
    font-weight: 600;
    color:rgb(255, 255, 255);
}

button:hover {
    background-color: rgb(7, 131, 84);
}



.parent {
    background-color: teal; 
}

@media (min-width:700px) {
    .parent {
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
}

@media (min-width: 700px){
    .flex-container {
        display: flex;
        justify-content: space-around;
        max-width: 940px;
        width: 100%;
        margin: 0 auto;
    }
}

@media(max-width: 699px) {
    .box2, .box3 {
        margin: 40px;
    }

    #form-right {
        margin: 40px;
    }

    #parters-logos {
        text-align: center;
        margin: 40px;
        padding-bottom: 20px;
    }

    #signup {
        margin: 40px;
    }

    .quote {
        padding: 0 40px 40px 40px;
    }

    h1 {
        font-size: 60px;
        line-height: 60px;
    }
}